@media screen and (max-width: 768px) {

  .nav {
    justify-content: center;
    width: 100%;
  }

  .nav a {
    padding: 3px;
    transition: border-bottom .2s cubic-bezier(.57,.8,.82,.82);
  }

  .nav a:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
  }

  .columns {
    flex-direction: column;
  }

  .main,
  .left,
  .right {
    width: 100%;
    box-sizing: border-box;
  }
}